# Ai Studio Temel Python Eğitimi

### COLAB Çalışma Ortamı

![image.png]()

## Eğitim Programımız


*   1- Temel Veri Tipleri
*   2- Aritmetik İşlemler

*   3- Liste

*   4- Tuple

*   5- Set

*   6- Sözlük
*   7- String ve String Operasyonları


*   8- Karşılaştırma Operatörleri ve Koşul İfadeleri


*   9- Döngüler


*   Uygulamalar

In [ ]:
#@title
import pandas as pd

# 1) Temel Veri Tipleri

In [ ]:
#@title Yerleşik Veri Türleri
data = ["Text Type: ","Numeric Types: ","Sequence Types: ","Mapping Type: ","Set Type: ", "Boolean Type: ", "Binary Types: ", "None Type: "]
types = ["str", "int, float, complex", "list, tuple, range", "dict", "set, frozenset", "bool","bytes, bytearray, memoryview", "NoneType"]
#for i in data:
#  types.append(type(i))
#types
table = pd.DataFrame({"": data, " ": types} )
table.style.hide_index()

In [ ]:
#@title Veri Türlerine Göre Örnekler
data = ['"Hello World"',
        10,
        10.40,
        ["Hello",10,10.40],
        ("Hello",10,10.40),
        {"fruit":"banana","flies":False},
        {"Hello",10,10.40},
        "True,False,0,1",
        "None"]
types = ["str", "int", "float", "list", "tuple", "dict", "set", "bool", "NoneType"]
#for i in data:
#  types.append(type(i))
types
import pandas as pd
table = pd.DataFrame({"Example" : data, "Data Type": types} )
table.style.hide_index()



> **Bazı yazılım dillerinde değişken tanımlayacağımız zaman veri türünü önceden belirtmemiz gerekir ancak Python programlama dilinde vei tipi ile ilgili öncül bir bilgiye gerek yoktur.**

In [ ]:
x = 5             #int
y = 10.0          #float
z = "Hello World" #str



> **Bir kod yazdığımızda sonucunu görmek için *print()* fonksiyonunu kullanmamız gerekir.**

In [ ]:
print('AI Studio Python Eğitimine Hoşgeldiniz !')

AI Studio Python Eğitimine Hoşgeldiniz !



> **Veri tipini bilmediğimiz ya da incelemek istediğimizde *type()* fonksiyonu kullanılır.**

In [ ]:
print("x'in türü: ", type(x))
print("y'nin türü: ", type(y))
print("z'nin türü: ", type(z))

x'in türü:  <class 'int'>
y'nin türü:  <class 'float'>
z'nin türü:  <class 'str'>



> **Tanımladığımız değişkenlerin türlerini sonrasında değiştirebiliriz.**

In [ ]:
x_str = str(x)      #turn integer 5 into string "5"
w_float = float(x)  #turns integer 5 into floating number 5.0
y_int = int(y)      #turn floating number 10.0 into integer 10
z_list = list(z)    #turn string "Hello World" into the list of characters.

In [ ]:
print("x'in türü: ", type(x_str))
print("w'nun türü: ", type(w_float))
print("y'nin türü: ", type(y_int))
print("z'nin türü: ", type(z_list))

x'in türü:  <class 'str'>
w'nun türü:  <class 'float'>
y'nin türü:  <class 'int'>
z'nin türü:  <class 'list'>



> Aynı andan birden fazla değişken ataması yapabiliriz.

In [ ]:
a,b,c=2,10.5,'Pyhthon'

In [ ]:
print(a)
print(b)
print(c)

2
10.5
Pyhthon

# 2) Aritmetik İşlemler




*   Toplama (+)

*   Çıkarma (-)
*   Çarpma (*)


*   Bölme (/)


*   Mod Operasyonu (%)

*   Üs Alma (**)

### Toplama

In [ ]:
x=58
y=15

In [ ]:
print('Verilen iki sayının toplamı:',x+y)

Verilen iki sayının toplamı: 73

In [ ]:
toplam=x+y
print('Verilen iki sayının toplamı:', toplam)

Verilen iki sayının toplamı: 73

### Çıkarma

In [ ]:
x=25
y=10

In [ ]:
print('Verilen iki sayının farkı:',x-y)

Verilen iki sayının farkı: 15

In [ ]:
fark=x-y
print('Verilen iki sayının farkı:',fark)

Verilen iki sayının farkı: 15

### Çarpma

In [ ]:
x=25
y=10

In [ ]:
print('Verilen iki sayının çarpımı:',x*y)

Verilen iki sayının çarpımı: 250

### Bölme

In [ ]:
x=100
y=26

In [ ]:
print('Verilen iki sayının birbirine bölümü:',x/y)

Verilen iki sayının birbirine bölümü: 3.8461538461538463

In [ ]:
print('Verilen iki sayının birbirine bölümü:',int(x/y))

Verilen iki sayının birbirine bölümü: 3

### Mod Operasyonu

In [ ]:
x=50
y=2

In [ ]:
print('Verilen Sayının Modu:',x%y)

Verilen Sayının Modu: 0

In [ ]:
x=15
y=8
print('Verilen Sayının Modu:',x%y)

Verilen Sayının Modu: 7

### Üs Alma

In [ ]:
x=5
y=2

In [ ]:
print('Verilen Sayının Üssü:',x**y)

Verilen Sayının Üssü: 25

In [ ]:
print(2**3)

8



>  **Kullanıcıdan veri almak için *input()* fonksiyonu kullanılır.**

In [12]:
yas= input('Yaşınız: ')

Yaşınız: 10

In [14]:
sayi_1=input('Toplamak istediğiniz ilk sayıyı giriniz:')
sayi_2=input('Toplamak istediğiniz ikinci sayıyı giriniz:')
print('sayıların Toplamı:', int(sayi_1)+int(sayi_2))

Toplamak istediğiniz ilk sayıyı giriniz:12
Toplamak istediğiniz ikinci sayıyı giriniz:4
sayıların Toplamı: 16

In [15]:
sayi_1=input('Toplamak istediğiniz ilk sayıyı giriniz:')
sayi_2=input('Toplamak istediğiniz ikinci sayıyı giriniz:')
print('sayıların Toplamı:', sayi_1+sayi_2)

Toplamak istediğiniz ilk sayıyı giriniz:14
Toplamak istediğiniz ikinci sayıyı giriniz:15
sayıların Toplamı: 1415

1# 3) Listeler
---

* Köşeli parantezlerle tanımlanan, virgülle ayrılmış objeleri içeren veri türleridir. 
* Tek bir değişkende birden fazla obje depolamak için kullanılır.

* Objeler farklı türde olabilir.

* Elemanların pozisyonları indekslerle bellidir. İndekslendirme 0'dan başlar.

* Listeler değiştirebilir (mutable). Yani bir listenin herhangi bir elemanına tekrardan atama yapılabilir, liste yaratıldıktan sonra eleman eklenebilir veya çıkarılabilir.

* Aynı objeden birden fazla içerebilirler.

In [ ]:
liste = [10, 15.0, x, "merhaba", ["a","b","c"]]
print(liste)

[10, 15.0, 5, 'merhaba', ['a', 'b', 'c']]



>  **Listede kaç eleman olduğunu görmek için *len(list)*fonksiyonu kullanılabilir.**

In [ ]:
len(liste)

5



> **Belli bir indeksteki elemanı çağırmak için *liste[indeks]* kullanılabilir.**

In [ ]:
print(liste[0])          #listenin ilk elemanı
print(liste[4][1])       #listenin 5. elemanının 2. elemanı

10
b



> **Listenin herhangi bir elemanı, aynı şekilde çağırılarak kendisine yeni bir değer atanabilir.**

In [ ]:
print(liste)
liste[1] = "dünya"  #ikinci elemana "dünya" değerini ata
print(liste)

[10, 15.0, 5, 'merhaba', ['a', 'b', 'c']]
[10, 'dünya', 5, 'merhaba', ['a', 'b', 'c']]



> **Listeden herhangi bir elemanı silmek için *del komutu* kullanılabilir. del genel olarak hafızadan değişkenleri temizlemek için kullanılır.**

In [ ]:
del liste[2]    #üçüncü elemanı sil
print(liste)

[10, 'dünya', 'merhaba', ['a', 'b', 'c']]



> Eğer değiştirilmek istenen, değiştirelemez (unmutable) bir değişkenin parçası ise, bu şekilde bir atama yapılamaz.

In [ ]:
print(liste[1])
liste[1][2]="a"     #str objeleri item atamalarını desteklemez hatası alırız. string, immutable bir türdür.



> **Listelere ayırma (slicing) işlemi uygulanabilir. Listeleri bir elemanından diğer bir elemanına kadar seçmek için *liste[ilk_eleman : son_eleman]* kullanılır. ilk_eleman seçime dahil edilirken, son_eleman dahil edilmez.**

In [ ]:
yeni_liste = liste[1:3]
print(yeni_liste)

['dünya', 'merhaba']



> **NOT**: Listelerin itemlerine, negatif indeksler kullanarak tersten de ulaşılabilir.

In [ ]:
print(liste[-1])    #listenin son itemini gösterir
print(liste[:-1])   #listeyi son itemine kadar gösterir

['a', 'b', 'c']
[10, 'dünya', 'merhaba']



> **Listelere yeni eleman eklemek için *append()*metodu kullanılır. Listeler sıralı olduğundan yeni eklenen eleman en sona yerleştirilir.**

In [ ]:
liste.append("yeni")
print(liste)

[10, 'dünya', 'merhaba', ['a', 'b', 'c'], 'yeni']

# 4) Tuple


---



* Parantezlerle tanımlanan, virgülle ayrılmış objeleri içeren veri türleridir.

* Tek bir değişkende birden fazla obje depolamak için kullanılır.

* Objeler farklı türde olabilir.

* Elemanların pozisyonları indekslerle bellidir. İndekslendirme 0'dan başlar.

* Tuple'lar **değiştirilemez (immutable)**. Yani bir tuple'ın elemanlarına  yeni değer atanamaz, tuple'a eleman ekleme veya çıkarma yapılamaz.

* Aynı objeden birden fazla içerebilirler.

In [ ]:
tup = ("elma", "muz", "kiraz")     #bir tuple böyle görünür

In [ ]:
print(tup)        #tuple'ı gösterir
print(tup[0])     #tuple'ın ilk elemanını gösterir
print(tup[:-1])   #tuple'ın son elemanına kadar gösterir

('elma', 'muz', 'kiraz')
elma
('elma', 'muz')


> **İki tuple'ı birbirine ekleyerek yeni bir tuple yapılabilir.**

In [ ]:
yeni_tup = tup+(5,2)
print(yeni_tup)

('elma', 'muz', 'kiraz', 5, 2)

# 5) Set


---



* Süslü parantezlerle tanımlanan, virgülle ayrılmış objeleri içeren veri türleridir.

* Tek bir değişkende birden fazla obje depolamak için kullanılır.

* Objeler farklı türde olabilir.

* Elemanların pozisyonları belli değildir. İndekslendirme kullanılmaz.

* Setler de **değiştirilemez (immutable)**. Yani bir setin elemanlarına yeni değer atanamaz, sete eleman ekleme veya çıkarma yapılamaz.

* Aynı objeden birden fazla **içeremezler**.

In [ ]:
setim = {"elma", "muz", "kiraz"}

In [ ]:
print(type(setim))

<class 'set'>

# Boolean Değerler



---

Sadece iki değer `bool` tipinde olabilir; `True` ve `False`.

Bir ifadenini bunlardan hangisine denk geldiğini bilmek ilerleyen konularda işimize çok yarayacak.

In [ ]:
a=True
type(a)

bool



> **Herhangi bir değişkenin ya da ifadenin boolean karşılığını bulmak için `bool()` fonksiyonunu kullanabiliriz.**

In [ ]:
b=0
b=bool(b)
print(b)

False

# Sözlükler (Dictionaries)

---



* Süslü parantezlerle tanımlanan, virgülle ayrılmış anahtar:değer (key:value) çiflerini içeren veri türleridir.

* Değerlere, `sözlük[anahtar]` kullanılarak erişilebilir.

* Anahtarlar da değerler de farklı türden objeler olabilir.

* Sözlükler de **değiştirilebilir (mutable)**. Yani bir sözlüğün anahtarlarına yeni değer atanabilir, sözlüğe anahtar:değer çifti eklenip çıkarılabilir.

* Aynı anahtardan birden fazla **içeremezler**.



> **Yazı ile belirtilmiş sayıların tam sayı karşılığını gösteren bir sözlük aşağıdaki formdadır. Yazı ile belirtilmiş string halleri anahtar, tam sayı karşılıkları ise değerlerdir.**

In [ ]:
sayılar = { "bir":1,
            "iki":2,
            "üç":3 }

In [ ]:
print(sayılar)

{'bir': 1, 'iki': 2, 'üç': 3}

In [ ]:
print(sayılar["iki"])

2



> **`sözlük[anahtar]` bir değere eşitlenebilir. Eğer o anahtar daha önceden sözlükte bulunuyorsa değeri güncellenmiş olur, sözlükte bulunmuyorsa yeni bir anahtar:değer çifti sözlüğe eklenir.**

In [ ]:
sayılar["dört"] = 4
print(sayılar)

{'bir': 1, 'iki': 2, 'üç': 3, 'dört': 4}

#### Sözlük Metodları



> **Keys Metodu**

Sözlükteki bütün anahtarları verir.

In [ ]:
sayı_anahtarları = sayılar.keys()
print(sayı_anahtarları)

dict_keys(['bir', 'iki', 'üç'])



> **Values Metodu**



Sözlükteki bütün değerleri verir

In [ ]:
sayı_değerleri = sayılar.values()
print(sayı_değerleri)

dict_values([1, 2, 3])



> **Get Metodu**



Aradığımız bir değerin sözlük içinde olup olmadığını söyler. Eğer aradığımız anahtar sözlükte yoksa, çıktı mesajını da ayarlayabiliri.

In [ ]:
sayılar.get("üç")

3

In [ ]:
x = "beş"
sayılar.get(x,"aradığınız anahtar henüz tanımlanmadı")

'aradığınız anahtar henüz tanımlanmadı'



> **Pop Metodu**



Anahtarını kullanarak bir öğeyi silmeyi sağlar.

In [ ]:
sayılar.pop("üç")
print(sayılar)

{'bir': 1, 'iki': 2}



---

[Buradan](https://www.w3schools.com/python/python_ref_dictionary.asp) daha fazla sözlük metoduna ulaşabilirsiniz.

---

# 7) Stringler ve String Operasyonları


---



* String türündeki değişkenler yazılardır. Python'da tek (') ya da çift (") tırnak ile ifade edilebilirler.

* Stringler değiştirilemezler (immutable). Herhangi bir karaktere yeni bir değer atanamaz.

* Karakterler sıralıdır, herhangi bir indeksteki karaktere `string[indeks]` ile ulaşılabilir.

In [ ]:
birString = "Merhaba"
başkaString = 'Dünya'

In [ ]:
print(birString, başkaString)
print( type(birString), type(başkaString))

Merhaba Dünya
<class 'str'> <class 'str'>



> **Stringleri `+` operatörü ile birbirine ekleyebiliriz.**

In [ ]:
başkabirString = birString + başkaString
print(başkabirString)

MerhabaDünya

In [ ]:
başkabirString = birString + " " + başkaString
print(başkabirString)

Merhaba Dünya



> **Bir String tek tırnak ile oluşturulduysa, içerisinde kesme işareti bulundurabilme için, önüne kaçış (escape) karakteri olan `\` konmalıdır.**





> **Çift Tırnaklarla oluşturulan stringler için böyle bir gereklilik yoktur.**

In [ ]:
tekTırnak = 'Türkiye\'nin Başkenti'
çiftTırnak = "Ankara'dır"

print(tekTırnak, çiftTırnak)

Türkiye'nin Başkenti Ankara'dır



> **Bu sadece Python'ın değişkenin nerede bittiğini anlaması içindir. Aynı şekilde çift tırnak ile oluşturulan bir stringde çift tırnak (") işaretini kullanırken de aynı yöntem kullanılmalıdır.**

In [ ]:
s = "\"Bu cümle çift tırnak içinde olsun\""
c = "'Bu da tek'"
print(s)
print(c)

"Bu cümle çift tırnak içinde olsun"
'Bu da tek'



> **Kaçış karakterlerini kullanmamak için basit bir yöntem olarak stringler üç tırnak ile oluşturulabilir. Bu durumda hiçbir tırnak ya da kesme işareti kaçış karakterlerine ihtiyaç olmadan kullanılabilir.**

In [ ]:
üçtırnak ="""ister "iki tırnak" ister 'tek'"""
print(üçtırnak)

ister "iki tırnak" ister 'tek'

### Stringlerde Bölme (Slicing)



> **listelere uyguladığımız bölme işlemleri stringler için de uygulanabilir.**

In [ ]:
lor = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus maximus, posuere quam et, auctor sem. Fusce euismod dolor consectetur libero pretium, tincidunt ullamcorper tortor efficitur. Aenean a dictum lorem. Phasellus quis ipsum ac erat tincidunt ornare. Etiam dignissim augue a orci venenatis lacinia. Sed euismod eu diam non hendrerit. Sed porttitor, nisi sit amet mattis suscipit, lectus turpis tristique libero, nec interdum justo justo at lectus. In tempus blandit urna nec hendrerit. Vivamus ullamcorper ipsum turpis, ac vehicula diam dictum vitae. Sed suscipit urna ac mauris vulputate dignissim. Donec sit amet gravida odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris molestie massa in neque aliquet, ac fringilla nisl finibus."

In [ ]:
print (lor)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at risus maximus, posuere quam et, auctor sem. Fusce euismod dolor consectetur libero pretium, tincidunt ullamcorper tortor efficitur. Aenean a dictum lorem. Phasellus quis ipsum ac erat tincidunt ornare. Etiam dignissim augue a orci venenatis lacinia. Sed euismod eu diam non hendrerit. Sed porttitor, nisi sit amet mattis suscipit, lectus turpis tristique libero, nec interdum justo justo at lectus. In tempus blandit urna nec hendrerit. Vivamus ullamcorper ipsum turpis, ac vehicula diam dictum vitae. Sed suscipit urna ac mauris vulputate dignissim. Donec sit amet gravida odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris molestie massa in neque aliquet, ac fringilla nisl finibus.

In [ ]:
print(lor[10:20])       #10. karakter ile 20. karakter arasındaki bütün karakterleri gösterir
print(lor[50:])         #50. karakterden sona kadar gösterir
print(lor[:50])         #en baştan 50. karaktere kadar gösterir

m dolor si
 elit. Fusce at risus maximus, posuere quam et, auctor sem. Fusce euismod dolor consectetur libero pretium, tincidunt ullamcorper tortor efficitur. Aenean a dictum lorem. Phasellus quis ipsum ac erat tincidunt ornare. Etiam dignissim augue a orci venenatis lacinia. Sed euismod eu diam non hendrerit. Sed porttitor, nisi sit amet mattis suscipit, lectus turpis tristique libero, nec interdum justo justo at lectus. In tempus blandit urna nec hendrerit. Vivamus ullamcorper ipsum turpis, ac vehicula diam dictum vitae. Sed suscipit urna ac mauris vulputate dignissim. Donec sit amet gravida odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris molestie massa in neque aliquet, ac fringilla nisl finibus.
Lorem ipsum dolor sit amet, consectetur adipiscing

**NOT:** Stringlerde de negatif indeksler kullanabiliriz.

In [ ]:
lor[-50:-20]          #sondan 50. ile sondan 20 karakter arasındakileri gösterir

'massa in neque aliquet, ac fri'



### **String Metodları**



> **Büyük Harf**

In [ ]:
lor.upper()

'LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. FUSCE AT RISUS MAXIMUS, POSUERE QUAM ET, AUCTOR SEM. FUSCE EUISMOD DOLOR CONSECTETUR LIBERO PRETIUM, TINCIDUNT ULLAMCORPER TORTOR EFFICITUR. AENEAN A DICTUM LOREM. PHASELLUS QUIS IPSUM AC ERAT TINCIDUNT ORNARE. ETIAM DIGNISSIM AUGUE A ORCI VENENATIS LACINIA. SED EUISMOD EU DIAM NON HENDRERIT. SED PORTTITOR, NISI SIT AMET MATTIS SUSCIPIT, LECTUS TURPIS TRISTIQUE LIBERO, NEC INTERDUM JUSTO JUSTO AT LECTUS. IN TEMPUS BLANDIT URNA NEC HENDRERIT. VIVAMUS ULLAMCORPER IPSUM TURPIS, AC VEHICULA DIAM DICTUM VITAE. SED SUSCIPIT URNA AC MAURIS VULPUTATE DIGNISSIM. DONEC SIT AMET GRAVIDA ODIO. CLASS APTENT TACITI SOCIOSQU AD LITORA TORQUENT PER CONUBIA NOSTRA, PER INCEPTOS HIMENAEOS. MAURIS MOLESTIE MASSA IN NEQUE ALIQUET, AC FRINGILLA NISL FINIBUS.'



> **Küçük Harf**

In [ ]:
lor.lower()

'lorem ipsum dolor sit amet, consectetur adipiscing elit. fusce at risus maximus, posuere quam et, auctor sem. fusce euismod dolor consectetur libero pretium, tincidunt ullamcorper tortor efficitur. aenean a dictum lorem. phasellus quis ipsum ac erat tincidunt ornare. etiam dignissim augue a orci venenatis lacinia. sed euismod eu diam non hendrerit. sed porttitor, nisi sit amet mattis suscipit, lectus turpis tristique libero, nec interdum justo justo at lectus. in tempus blandit urna nec hendrerit. vivamus ullamcorper ipsum turpis, ac vehicula diam dictum vitae. sed suscipit urna ac mauris vulputate dignissim. donec sit amet gravida odio. class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. mauris molestie massa in neque aliquet, ac fringilla nisl finibus.'



> **Boşlukları kaldırmak**

**stringin** sonundaki ve başındaki boşlukları kaldırmamız gerektiğinde `strip()` metodunu kullanırız.

In [ ]:
boşluklu = "  Lorem ipsum dolor sit amet    "
boşluksuz = boşluklu.strip()
print(boşluklu)
print(boşluksuz)

  Lorem ipsum dolor sit amet
Lorem ipsum dolor sit amet



> **stringin başından ve sonundan kaldırılmasını istediğimiz belli karakterler olduğunda `strip("karakter") `metodunu kullanabiliriz**

In [ ]:
boşluksuz.strip("met")
boşluksuz.strip("Lore")

'm ipsum dolor sit amet'



---


[Buradan](https://www.w3schools.com/python/python_strings_methods.asp) daha fazla string metoduna ulaşabilirsiniz.

---

<table class="ws-table-all notranslate">
<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
  <tr>
    <td><a href="ref_string_capitalize.asp">capitalize()</a></td><td>Converts the first 
    character to upper case</td>
  </tr>
  <tr>
    <td><a href="ref_string_casefold.asp">casefold()</a></td><td>Converts string into 
    lower case</td>
  </tr>
  <tr>
    <td><a href="ref_string_center.asp">center()</a></td><td>Returns a centered 
    string</td>
  </tr>
  <tr>
    <td><a href="ref_string_count.asp">count()</a></td><td>Returns the number of 
    times a specified value occurs in a string</td>
  </tr>
  <tr>
    <td><a href="ref_string_encode.asp">encode()</a></td><td>Returns an encoded 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_endswith.asp">endswith()</a></td><td>Returns true if the 
    string ends with the specified value</td>
  </tr>
  <tr>
    <td><a href="ref_string_expandtabs.asp">expandtabs()</a></td><td>Sets the 
    tab size of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_find.asp">find()</a></td><td>Searches the string for a 
    specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_format.asp">format()</a></td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td>format_map()</td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td><a href="ref_string_index.asp">index()</a></td><td>Searches the string 
    for a specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_isalnum.asp">isalnum()</a></td><td>Returns True if all 
    characters in the string are alphanumeric</td>
  </tr>
  <tr>
    <td><a href="ref_string_isalpha.asp">isalpha()</a></td><td>Returns True if all 
    characters in the string are in the alphabet</td>
  </tr>
  <tr>
    <td><a href="ref_string_isdecimal.asp">isdecimal()</a></td><td>Returns True if all 
    characters in the string are decimals</td>
  </tr>
  <tr>
    <td><a href="ref_string_isdigit.asp">isdigit()</a></td><td>Returns True if all 
    characters in the string are digits</td>
  </tr>
  <tr>
    <td><a href="ref_string_isidentifier.asp">isidentifier()</a></td><td>Returns True if 
    the string is an identifier</td>
  </tr>
  <tr>
    <td><a href="ref_string_islower.asp">islower()</a></td><td>Returns True if all 
    characters in the string are lower case</td>
  </tr>
  <tr>
    <td><a href="ref_string_isnumeric.asp">isnumeric()</a></td><td>Returns True if 
    all characters in the string are numeric</td>
  </tr>
  <tr>
    <td><a href="ref_string_isprintable.asp">isprintable()</a></td><td>Returns True if 
    all characters in the string are printable</td>
  </tr>
  <tr>
    <td><a href="ref_string_isspace.asp">isspace()</a></td><td>Returns True if all 
    characters in the string are whitespaces</td>
  </tr>
  <tr>
    <td><a href="ref_string_istitle.asp">istitle()</a></td>
    <td>Returns True if the string follows the rules of a 
    title</td>
  </tr>
  <tr>
    <td><a href="ref_string_isupper.asp">isupper()</a></td><td>Returns True if all 
    characters in the string are upper case</td>
  </tr>
  <tr>
    <td><a href="ref_string_join.asp">join()</a></td><td>Joins the elements of 
    an iterable to the end of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_ljust.asp">ljust()</a></td><td>Returns a left justified 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_lower.asp">lower()</a></td><td>Converts a string into 
    lower case</td>
  </tr>
  <tr>
    <td><a href="ref_string_lstrip.asp">lstrip()</a></td><td>Returns a left trim 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_maketrans.asp">maketrans()</a></td><td>Returns a 
    translation table to be used in translations</td>
  </tr>
  <tr>
    <td><a href="ref_string_partition.asp">partition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td><a href="ref_string_replace.asp">replace()</a></td><td>Returns a string 
    where a specified value is replaced with a specified value</td>
  </tr>
  <tr>
    <td><a href="ref_string_rfind.asp">rfind()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_rindex.asp">rindex()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_rjust.asp">rjust()</a></td><td>Returns a right justified 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_rpartition.asp">rpartition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td><a href="ref_string_rsplit.asp">rsplit()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td><a href="ref_string_rstrip.asp">rstrip()</a></td><td>Returns a right trim 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_split.asp">split()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td><a href="ref_string_splitlines.asp">splitlines()</a></td><td>Splits the string 
    at line breaks and returns a list</td>
  </tr>
  <tr>
    <td><a href="ref_string_startswith.asp">startswith()</a></td><td>Returns true if 
    the string starts with the specified value</td>
  </tr>
  <tr>
    <td><a href="ref_string_strip.asp">strip()</a></td><td>Returns a trimmed version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_swapcase.asp">swapcase()</a></td><td>Swaps cases, lower 
    case becomes upper case and vice versa</td>
  </tr>
  <tr>
    <td><a href="ref_string_title.asp">title()</a></td><td>Converts the first 
    character of each word to upper case</td>
  </tr>
  <tr>
    <td><a href="ref_string_translate.asp">translate()</a></td><td>Returns a 
    translated string</td>
  </tr>
  <tr>
    <td><a href="ref_string_upper.asp">upper()</a></td><td>Converts a string 
    into upper case</td>
  </tr>
<tr><td><a href="ref_string_zfill.asp">zfill()</a></td><td>Fills the string with 
  a specified number of 0 values at the beginning</td></tr>
</tbody></table>

## Çıktı Formatlama
 
Yazdıracağımız cümlenin belli yerlerine değişlenler eklemek isteyebiliriz. Bunu iki yolla yapabiliriz;

###format() metodu

Değişkenlerin geleceği yerler stringin içerisinde süslü parantezlerle belirlenir ({}). Daha sonra değişlenler format() metodu ile yerleştirilir.

In [ ]:
a = 80
b = 20

In [ ]:
birStr = "Şirket gelirinin %{}'i, müşterilerimizin %{}'sinden gelmektedir "
print(birStr)

Şirket gelirinin %{}'i, müşterilerimizin %{}'sinden gelmektedir

In [ ]:
print(birStr.format(a,b))

Şirket gelirinin %80'i, müşterilerimizin %20'sinden gelmektedir

### fStringler

string ifadesinin önüne bir `f` harfi konur. Değişkenler, süslü parantezler içerisine string ifadesine eklenebilir.

In [ ]:
birStr = f"Şirket gelirinin %{a}'i, müşterilerimizin %{b}'sinden gelmektedir "
print(birStr)

Şirket gelirinin %80'i, müşterilerimizin %20'sinden gelmektedir

##Çalışma
 Bir stringin sadece yarısını büyük harfe çevirin

# 8) Karşılaştırma Operatörleri ve Koşul İfadeleri



>  **Karşılaştırma Operatörleri**



- **İki sayıyı(değeri) karşılaştırmak için kullanılır.**
- **Matematiksel karşılaştırmaları kod üzerinde yapmamızı sağlar.**

![image.png]()



>  **== Operatörü**



- Eşittir Operatörü.
- İki değerin birbirine eşit olup olmadığını kontrol etmemizi sağlar.

In [ ]:
x = 10
print (x == 10)

True

In [ ]:
x = 10
print (x == 5)

False



>  **!= Operatörü**

- Eşit Değildir Operatörü.
- İki değerin birbirinden farklı olup olmadığını kontrol etmemizi sağlar.

In [ ]:
x = 10
print (x != 10)

False



>  **> Operatörü**

- Büyüktür Operatörü.
- İlk yazılan değerin, ikinci değerden büyük olup olmadığını kontrol eder.

In [ ]:
x = 10
print (x > 15)

False



>  **>= Operatörü**

- Büyüktür veya Eşittir Operatörü.
- İlk yazılan değerin, ikinci değerden büyük veya ikinci değere eşit olup olmadığını kontrol etmemizi sağlar.

In [ ]:
x = 10
print (x >= 15)

False



>  < **Operatörü**

- Küçüktür Operatörü.
- İlk yazılan değerin, ikinci değerden küçük olup olmadığını kontrol eder.

In [ ]:
x = 10
print (x < 10)

False



>  <**= Operatörü**

- Küçüktür veya Eşittir Operatörü.
- İlk yazılan değerin, ikinci değerden küçük veya ikinci değere eşit olup olmadığını kontrol etmemizi sağlar.

In [ ]:
x = 10
print (x <= 10)

True



>  **Karşılaştırma Operatörlerini Zincirleyerek Kullanma:**

Çok sayıda değerin, birden fazla operatör kullanılarak zincirlenmesi

In [ ]:
a = 1
b = 2
c = 3
d = 4
print (a < b < c < d)
print (a < b < d > c)
print (a < d > b < c)
print (a < b < d < c)
print (d < a < b < c)

True
True
True
False
False

In [ ]:
a = 1
'''
- 'a' olarak isimlendirdiğim bir değişken yarattım.
- 'a' değişkenine 1 sayısını atadım.
'''
b = 2
'''
- 'b' olarak isimlendirdiğim bir değişken yarattım.
- 'b' değişkenine 2 sayısını atadım.
'''
c = 3
'''
- 'c' olarak isimlendirdiğim bir değişken yarattım.
- 'c' değişkenine 3 sayısını atadım.
'''
d = 4
'''
- 'd' olarak isimlendirdiğim bir değişken yarattım.
- 'd' değişkenine 4 sayısını atadım.
'''
print (a < b < c < d)  # (a < b) ve (b < c) ve (c < d)
'''
Aslında 3 karşılaştırma ifadesini kontrol ediyor.
- (a < b)
- (b < c)
- (c < d)
Eğer bu 3 ifadenin de sonucu doğru yani "True" ise
genel ifadenin de sonucu "True" oluyor.
Farklı ifade şekli:
(a < b) == (b < c) == (c < d) == True
Son ifade de görülmekte.
'''
print (a < b < d > c)  # (a < b) ve (b < d) ve (d > c)
print (a < d > b < c)  # (a < d) ve (d > b) ve (b < c)
print (a < b < d < c)  # (a < b) ve (b < d) ve (d < c)
print (d < a < b < c)  # (d < a) ve (a < b) ve (b < c)
print ((a < b) == (b < c) == (c < d) == True)
'''
Çıktıda görüldüğü üzere son ifade ile ilk ifadenin sonucu aynı.
'''

True
True
True
False
False
True

'\nÇıktıda görüldüğü üzere son ifade ile ilk ifadenin sonucu aynı.\n'



>  **Koşul İfadeleri (if…, elif…, else…)**

- Yazdığımız kodları belli koşullarda çalıştırmamızı sağlar.
- Koşulları belirlemek için Karşılaştırma Operatörleri kullanılır.



> **if Koşul İfadesi:**



- Eğer anlamına gelen “if” İfadesi, ardından yazılan koşul True(doğru) olduğunda altında yazılan kod grubunu çalıştırır.
- Python yazdığımız kodu çalıştırmak için belli standartlar belirler. (Syntax)
- “if” ifadesi altında yazdığımız kod grubunu çalıştırmak için, bu kod grubunun başına <tab> boşluğu yazmamız gerekir.

In [ ]:
x = 5
if x == 5:
	print ("if Koşul İfadesi Çalıştı.") # Bu satırın başında <tab> bulunuyor
print ("if Koşul İfadesi Dışında Bulunan Kod.") # Bu satırın başında <tab> bulunmuyor

if Koşul İfadesi Çalıştı.
if Koşul İfadesi Dışında Bulunan Kod.



> **if…else Koşul İfadesi:**

- “if” koşul ifadesinin içerisinde yazılı olan koşul ifadesi False(Yanlış) olduğu durumlarda, kod grubu çalıştırmak istediğimizde “if” bloğunun devamına “else” ifadesi ekleriz.
- “if” koşul ifadesinde yaptığımız gibi, “else” ifadesinin altında yazacağımız kod grubu için de, <tab> boşluğu bırakmamız gerekir.
- “else” ifadesi, “if” ifadesi ile dikey olarak aynı seviyede olmak zorundadır.

In [ ]:
x = 5
if x == 5:
	print ("if Koşul İfadesi Çalıştı.") # Bu satırın başında <tab> bulunuyor
else:
	print ("else Koşul İfadesi Çalıştı.") # Bu satırın başında <tab> bulunuyor
print ("if Koşul İfadesi Dışında Bulunan Kod.") # Bu satırın başında <tab> bulunmuyor

if Koşul İfadesi Çalıştı.
if Koşul İfadesi Dışında Bulunan Kod.



>  **if…elif…else Koşul İfadesi:**

- “if” koşul ifadesi True(Doğru) ise altında yazmış olduğumuz kod grubu çalışır.
- “if” koşul ifadesi False(Yanlış) ise “elif” koşul ifadesi kontrol edilir.
- “elif” koşul ifadesi True(Doğru) ise altında yazmış olduğumuz kod grubu çalışır.
- “elif” koşul ifadesi False(Yanlış) ise “else” koşul ifadesinin altında yazmış olduğumuz kod grubu çalışır.

In [ ]:
x = 4
if x < 5:
	print ("if Koşul İfadesi Çalıştı.") # Bu satırın başında <tab> bulunuyor
elif x == 5:
	print ("elif Koşul İfadesi Çalıştı.") # Bu satırın başında <tab> bulunuyor
else:
	print ("else Koşul İfadesi Çalıştı.") # Bu satırın başında <tab> bulunuyor
print ("Program Kodu Devam Eder.") # Bu satırın başında <tab> bulunmuyor

if Koşul İfadesi Çalıştı.
Program Kodu Devam Eder.

# 9) Döngüler



> **While Döngüsü**
- Yazdığımız kodların belli koşula dayalı olarak sürekli çalışmasını sağlar.
- “while” koşul ifadesi True(Doğru) ise altında yazılı olan kodu çalıştırır, ve tekrar koşul ifadesini kontrol eder.
- “while” koşul ifadesi False(Yanlış) ise altında yazılı olan kodu atlar ve program kodu kaldığı yerden devam eder.

![image.png]()

In [ ]:
x = 0 # x isimli bir değişken yarattım ve 0'a eşitledim.
while x < 5: # x değişkeni 5 sayısından küçük ise alttaki kodu çalıştırır.
	print ("x = ", x) # x değişkeninin değerini console'a yazdırır.
	x = x + 1 # x değişkenine 1 ekler ve x değişkenine yeni değeri eşitler.
print ("Döngü Tamamlandı.") 
print ("x = ", x)

x =  0
x =  1
x =  2
x =  3
x =  4
Döngü Tamamlandı.
x =  5

In [ ]:
x = 0 # x isimli bir değişken yarattım ve 0'a eşitledim.
while x < 5: # x değişkeni 5 sayısından küçük ise alttaki kodu çalıştırır.
	print ("x = ", x) # x değişkeninin değerini console'a yazdırır.
print ("Döngü Tamamlandı.") 
print ("x = ", x)

Yukarıdaki örnek çalıştığı durumda, konsol üzerinde sürekli olarak x = 0 yazılı olduğunu göreceğiz ve bu sonsuza dek devam edecek. Bunun sebebi, “while” ifadesinin koşul olan x değişkeninin 5 sayısından küçük olması ve x değerinin sürekli olarak 0 olması. İlk örnekte görüldüğü üzere “while” ifadesinin altında yazılı olan kod grubunda x = x + 1 şeklinde bir satır bulunur. Bu satır x değişkeninin 1 artmasını sağlar. “while” ifadesi her koşulu kontrol ettiği sefer, x değişkeni artar ve 5 olduğunda döngüden çıkılmış olur.



> **for Döngüsü**

- Belirli bir koşul belirtmeden kodun sürekli yinelenmesini sağlamak için for döngüsü kullanılır.

In [1]:
yazilim_dilleri=['Java','C#','Python','C++']

for i in yazilim_dilleri:
  print(i)

Java
C#
Python
C++

In [2]:
for i in 'PYTHON':
  print(i)

P
Y
T
H
O
N



> **break fonksiyonu ile döngüyü istediğimiz yerde sonlandırabiliriz.**

In [3]:
for i in yazilim_dilleri:
  print(i)
  if i=='Python':
    break

Java
C#
Python



> **range() kullanarak bir aralık belirterek döngü oluşturabiliriz.**

In [5]:
for x in range(5):
  toplam=x+x
  print(toplam)

0
2
4
6
8



> **Artış değerini belirterek ve kaça kadar artması gerektiğini belirterek döngü yazabiliriz.**

In [7]:
for i in range(1,21,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

# **UYGULAMALAR**

### Yaşa göre kişinin ehliyet alıp alamayacığını belirten programı yazınız.

In [18]:
yas = input('Yaşınız : ')
if(int(yas)<18):
      print("Yaşınız Ehliyet almak İçin Uygun Değil")
else:
      print("Yaşınız Ehliyet almak İçin Uygun")

Yaşınız : 55
Yaşınız Ehliyet almak İçin Uygun

### Kullanıcıdan kenar uzunlukları alınan dikdörtgenin alanı ve çevresini bulan programı yazınız.

In [19]:
kisa=input('Kısa Kenar : ')
uzun=input('Uzun Kenar : ')
alan=int(kisa)*int(uzun)
cevre=2*(int(kisa)+int(uzun))
print("Alan : {0}".format(alan))
print("Çevre : {0}".format(cevre))

Kısa Kenar : 5
Uzun Kenar : 3
Alan : 15
Çevre : 16

### 0'dan 10'a kadar 2 ve 3'e bölünebilen sayıları yazdıran programı yazınız.

In [11]:
x = 1
while x < 10:
	if x % 2 == 0:
		print ("2 ile bölünebilen sayı=", x)
	elif x % 3 == 0:
		print ("3 ile bölünebilen sayı=", x)
	x+=1

2 ile bölünebilen sayı= 2
3 ile bölünebilen sayı= 3
2 ile bölünebilen sayı= 4
2 ile bölünebilen sayı= 6
2 ile bölünebilen sayı= 8
3 ile bölünebilen sayı= 9

### Verilen dizideki sayının tek mi çift mi olduğunu belirten programı yazınız.

In [8]:
dizi=[0,1,2,3,4,5,6,7,8,9,10]
for i in dizi:
  if i%2==0:
    print(i, 'sayısı çift sayıdır.')
  else:
    print(i, 'sayısı tek sayıdır.')

0 sayısı çift sayıdır.
1 sayısı tek sayıdır.
2 sayısı çift sayıdır.
3 sayısı tek sayıdır.
4 sayısı çift sayıdır.
5 sayısı tek sayıdır.
6 sayısı çift sayıdır.
7 sayısı tek sayıdır.
8 sayısı çift sayıdır.
9 sayısı tek sayıdır.
10 sayısı çift sayıdır.

## 5'ten başlayarak 20'ye kadar 3'er artış sağlayan programı yazınız.

In [9]:
for i in range(5,20,3):
  print(i)

5
8
11
14
17